
/* Estilo Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #000;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

/* Estilo do Cabeçalho */

img {
    width: 200px;
    height: 100px;
}

header {
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #fff;
    transform: scale(1.5);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

header .btn-button button{
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    background-color: #edd69a;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

header .btn-button button:hover{
    box-shadow: 0px 0px 8px #edd69a;

}
    